@mixin welcomeMessage {
  text-align: left;
    text-shadow: 1px 1px 1px black;
    color: $text-color;
    * {
      margin: 0;
    }
    h1 {
      padding-left: 2rem;
      text-align: left;
      font-size: 2.5rem;
    }
    p {
      margin: 0;
      padding-top: 0;
      padding-left: 4rem;
      font-size: 1.5rem;
    }
}
